/* =============================================================================

        Table of Contents

        1. Global Styles
        2. Header
            2.0 - Defaults
            2.1 - Main Menu

============================================================================= */

/* =============================================================================
        1. GLobal Styles
============================================================================= */
:root
{
    --accent-color: #287ae6;
    --font-color: #fff;
}

*
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--font-color);
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

html, body
{
    width: 100%;
    height: 100%;
    background: #fff;
    color: var(--font-color);
}

body
{
    overflow-y: scroll;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    font-weight: bold;
    color: #1a73e8;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    padding: 2px 0;
}

a:active
{
    background: rgba(26, 115, 232, 0.2);
}

button, input[type="submit"], .btn
{
    padding: 20px 50px;
    text-align: center;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    margin: 0;
    background: none;
    border-radius: 40px;
    font-weight: bold;
    transition: 0.2s;
    outline: none;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

button:hover, input[type="submit"]:hover, .btn:hover
{
    color: #fff;
    background: var(--accent-color);
}

.text-input
{
    border: none;
    margin: 0;
    padding: 0;
}

.text-input .text-input-border,
.text-input .text-input-border-focus
{
    height: 1px;
    width: 100%;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    border: none;
    transition: 0.2s;
}

.text-input .text-input-border
{
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
}

.text-input .text-input-border-focus
{
    z-index: 20;
    background: var(--accent-color);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text-input .text-input-field
{
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 7px 0;
    color: var(--font-color);
}

.text-input .text-input-label
{
    color: #b2bec3;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    margin: 0;
    z-index: -1;
    background: none;
    transition: 0.2s;
}

.text-input .text-input-field:focus ~ .text-input-border-focus
{
    width: 100%;
    height: 2px;
}

.text-input .text-input-field:focus ~ .text-input-label,
.text-input .text-input-field:valid ~ .text-input-label
{
    font-size: 12px;
    top: -20px;
    color: var(--accent-color);
}

.card
{
    height: 300px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(70, 70, 70, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(70, 70, 70, 0.5);
}

.icon
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}

.bars-icon
{
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.bars-icon span
{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--font-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.bars-icon span:nth-child(1)
{
    top: 0px;
}

.bars-icon span:nth-child(2), .bars-icon span:nth-child(3)
{
    top: 18px;
}

.bars-icon span:nth-child(4)
{
    top: 36px;
}

@media (hover:hover), (hover:fine), (hover:coarse)
{
    .bars-icon:not(.checked):hover span
    {
        width: 100%;
    }

    .bars-icon span:nth-child(2), .bars-icon span:nth-child(3)
    {
        width: 67%;
    }

    .bars-icon span:nth-child(4)
    {
        width: 83%;
    }
}

.bars-icon.checked span
{
    width: 100%;
}

.bars-icon.checked span:nth-child(1)
{
    top: 18px;
    width: 0%;
    left: 50%;
}

.bars-icon.checked span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bars-icon.checked span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.bars-icon.checked span:nth-child(4)
{
    top: 18px;
    width: 0%;
    left: 50%;
}

/* =============================================================================
        2. Header
============================================================================= */
/* ===== 2.0 - Defaults ===================================================== */
.wrapper
{
    min-height: 100%;
}

#header
{
    width: 100%;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

#navbar
{
    width: 100%;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}

#navbar #logo
{
    margin: auto 0 auto 100px;
    width: 60px;
    word-wrap: break-word;
}

#navbar #main-menu
{
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#navbar #main-menu .menu-item
{
    margin: 20px;
}

#navbar #main-menu .menu-item::after
{
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

#navbar #main-menu .menu-item:hover
{
    outline: none;
    text-transform: none;
}

#navbar #main-menu .menu-item:hover::after
{
    width: 100%;
}

#navbar #main-menu .menu-item:active
{
    background: none;
}

#navbar #social-menu
{
    transform: scale(0.5);
    margin: auto 100px auto 0;
    width: 60px;
}

#banner
{
    width: 100%;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 80%;
    text-align: center;
}

#banner .title
{
    margin: 20px 20px 10px 20px;
}

#banner .title span
{
    font-size: 0;
    transition: 2s ease-in-out 2s;
}

#banner.animate .title span
{
    margin: 0 10px;
    font-size: 100px;
    letter-spacing: 10px;
}

#banner .title .first-name
{
    font-weight: bold;
}

#banner .subtitle
{
    font-size: 0;
    transition: 2s ease-in-out 2s;
}

#banner.animate .subtitle
{
    margin: 20px 20px 10px 20px;
    font-size: 20px;
}

/* ===== 2.1 - Main Menu ==================================================== */

/* =============================================================================
        3. Services
============================================================================= */
#services
{
    width: 100%;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#services .card
{
    background-color: #fff;
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#services .card i
{
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    margin: 80px auto 30px auto;
}

#services .card h1
{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px auto;
}

#services .card *
{
    color: #000;
}

/* =============================================================================
        3. Footer
============================================================================= */
#footer
{
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #535353;
    position: relative;
    height: 100px;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

#footer
{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#footer #copyright
{
    margin: 0;
    padding: 0;
}

#footer #social-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
}

#footer #social-menu .menu-item
{
    padding: 0;
    margin: 0;
}

#footer #social-menu .menu-item a
{
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#footer #social-menu .menu-item a:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

#footer #social-menu .menu-item a i
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
}

#footer #social-menu .menu-item .fa-facebook
{
    color: #4267b2;
}

#footer #social-menu .menu-item .fa-linkedin
{
    color: #0077B5;
}

#footer #social-menu .menu-item .fa-youtube
{
    color: rgb(255, 0, 0);
}

#footer #social-menu .menu-item .fa-google-plus
{
    color: #db4437;
}

/* =============================================================================
        4. Media Queries
============================================================================= */
@media only screen and (max-width: 520px)
{
    #banner.animate .title span
    {
        font-size: 80px;
    }
}

@media only screen and (max-width: 460px)
{
    #banner.animate .title span
    {
        font-size: 60px;
    }

    #navbar
    {
        display: none;
    }
}
